@font-face {
    font-family: "Rubik Regular";
    src: url("../../../../public/fonts/Rubik/Rubik-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Rubik Medium";
    src: url("../../../../public/fonts/Rubik/Rubik-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Rubik Bold";
    src: url("../../../../public/fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}

.container{
    width: 100%;
    margin-top: 30px;
    background: black;
    margin-bottom: -50px;
    display: flex;
}
.second{
    width: 50%;
    padding: 0 5%;
    box-sizing: border-box;
}
.subtitle{
    display: block;
    font-family: "Rubik Regular";
    color: black;
    font-size: 16px;
}
.title{
    font-size: 24px;
    font-family: "Rubik Bold";
    color: black;
}
.price{
    font-family: "Rubik Medium";
    font-size: 18px;
}
.select:focus{
    outline: none;
}
.select{
    margin: 0 10px;
    margin-top: 5px;
    border-radius: 5px;
    font-family: "Rubik Regular";
    color: black;
    background: white;
    border: 1px solid black;
    padding: 5px 10px;
    font-size: 16px;
}
.input:focus{
    outline: none;
}
.input::placeholder{
    color: black;
}
.input{
    margin-top: 10px;
    border-radius: 5px;
    font-family: "Rubik Regular";
    padding: 5px 10px;
    font-size: 16px;
    color: black;
    background: white;
    border: 1px solid black;
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.btn{
    color: black;
    text-decoration: none;
    background: white;
    padding: 10px;
    font-family: "Rubik Medium";
    border-radius: 3px;
    border: 1px solid black;
    transition: 0.3s;
}
.btn:hover{
    color: white;
    background: black;
    border: 1px solid white;
}
.btn:disabled{
    background: #818181;
    color: white;
    border: 1px solid #818181;
}
.btnBody{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.logo{
    font-size: 64px;
    color: black;
    font-family: "Rubik Bold";
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
    padding: 0 5px 0 0;
    border: 1px solid white;
    border-radius: 5px;
}
.textArea{
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    font-family: "Rubik Regular";
    padding: 5px 10px;
    font-size: 18px;
    color: black;
    background: white;
    border: 1px solid black;
    resize: none;
}
.textArea:focus{
    outline: none;
}
.input::placeholder{
    color: #818181;
}
.img{
    width: 100%;
    height: 250px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.size{
    color: black;
}
.loadingBlock{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.spinner{
    height: 32px;
    width: 32px;

    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
@media screen and (max-width: 761px) {
}