@font-face {
    font-family: "Rubik Regular";
    src: url("../../../public/fonts/Rubik/Rubik-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Rubik Medium";
    src: url("../../../public/fonts/Rubik/Rubik-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Rubik Bold";
    src: url("../../../public/fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}
.container{
    width: 100%;
    margin-top: 128px;
    padding: 0 5%;
    box-sizing: border-box;
}
.wrapper{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.mattress{
    width: 50%;
    padding: 10px;
    height: 100%;
    margin-bottom: 30px;
}
.img{
    width: 100%;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.title{
    font-size: 24px;
    font-family: "Rubik Bold";
}
.subtitle{
    font-family: "Rubik Regular";
}
.header{
    width: 100%;
}
.price{
    font-size: 24px;
    font-family: "Rubik Medium";
}
.btn{
    margin-top: 10px;
    color: white;
    text-decoration: none;
    background: black;
    padding: 5px 15px;
    font-family: "Rubik Medium";
    font-size: 18px;
    border-radius: 3px;
    border: 1px solid transparent;
    transition: 0.3s;
    cursor: pointer;
}
.btn:hover{
    color: black;
    border: 1px solid black;
    background: transparent;
}
.btnBody{
    display: flex;
}
.about{
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}
@media screen and (max-width: 761px){
    .mattress{
        width: 100%;
    }
}